@import url("https://fonts.googleapis.com/css2?family=Finlandica+Text:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Finlandica Text", sans-serif;
}

body {
  background-color: #f1f1f1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my_quiz_app {
  /* height: 580px; */
  width: 320px;
  background-color: #fff;
  box-shadow: 0px 10px 50px rgb(0 0 0 / 10%);
  border: 1px solid rgb(173, 172, 172);
  border-radius: 8px;
  display: none;
}

.img img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.texts p {
  line-height: 1.6;
  font-size: 14px;
  margin: 12px 0;
}

.texts {
  padding: 0 18px;
}

.my_btn {
  /* padding-bottom: 18px; */
  display: flex;
  justify-content: flex-end;
}

.my_btn button,
.buttons .continue_button,
.buttons .exit_button {
  font-size: 16px;
  font-weight: 600;
  background-color: #382bf1;
  color: #fff;
  border: none;
  padding: 4px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.my_btn button:hover,
.buttons .continue_button:hover {
  background-color: #564af7;
}

.rulse_box {
  /* height: 580px; */
  width: 320px;
  background-color: #fff;
  box-shadow: 0px 10px 50px rgb(0 0 0 / 10%);
  border: 1px solid rgb(173, 172, 172);
  border-radius: 8px;
  display: none;
}

.rulse_box h3 {
  padding: 18px;
}

.rules_list {
  padding: 0 18px 8px;
}

.rules_list ol {
  /* list-style-position: inside; */
  font-size: 14px;
  padding-left: 18px;
}

.rules_list ol li {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons .exit_button {
  background-color: rgb(241, 51, 51);
  border-radius: 0;
  padding-top: 6px;
  padding-right: 13px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 7px;
}

.buttons .continue_button,
.my_btn button {
  border-radius: 0;
  padding-top: 6px;
  padding-left: 13px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 7px;
}

.buttons .exit_button:hover {
  background-color: rgba(241, 51, 51, 0.808);
}

.question {
  width: 320px;
  height: 480px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: #fff;
  box-shadow: 0 10px 50px rgb(0 0 0 / 10%);
  border-radius: 8px;
}

.question .timeline {
  height: 4px;
  width: 50%;
  margin-bottom: 12px;
  background-color: black;
  display: none;
}

.question header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 1rem;
}

.question header .time_count {
  display: flex;
  align-items: center;
  background-color: skyblue;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.question header .time_count .time_left {
  padding: 5px 8px 5px 7px;
  background-color: skyblue;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.question header .time_count .time_right {
  background-color: black;
  color: skyblue;
  padding: 5px 8px;
  border-radius: 5px;
}
